.lobby {
  height: calc(100vh - 64px);
}

.listContainers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70%;
  padding: 5%;
}

.listBox {
  width: 25%;
  height: 100%;
}


// .gameButton {
//   display: flex;
//   align-items: center;
// }

// P {
//   color: white;
// }

// .lobbyChatTitle{
//   font-size: x-large;
//   text-align: center;
// }

// .gameListTitle{
//   font-size: x-large;
//   text-align: center;
// }

// .gameListText{
//   font-size: small;
//   color: #44cc2e;
//   background-color: black;

// }

// .chatText{
//   font-size: small;
//   color: #44cc2e;
//   background-color: black;

// }
