<mat-toolbar>
  <img>
  <div class="titleDisplay">
    <p>CONNECT - 4</p>
  </div>

  <div class="userName">
    <ng-container *ngIf=true>
      <img src="assets/guest-avatar.png" alt="Guest">

      <div class="signUp">
        <button mat-stroked-button matTooltip="Sign Up" matTooltipPosition="below" >Sign Up</button>
      </div>

      <div class="signIn">
        <button mat-stroked-button matTooltip="Sign In" matTooltipPosition="below" >Sign In</button>
      </div>
    </ng-container>

    <ng-container *ngIf=false>
      <img src="assets/user-avatar.png" alt="User Name">
      <div class="signOut">
        <button mat-stroked-button matTooltip="Sign Out" matTooltipPosition="below" >Sign Out</button>
      </div>
    </ng-container>
  </div>
</mat-toolbar>
