<mat-toolbar>
    <img>
    <div class="titleDisplay">
        <p>CONNECT - 4</p>
    </div>

    <div class="header">
        <ng-container *ngIf=true>
            <div class="guestAvatar"><img src="assets/profile-avatar.png" alt="Guest User">
                <p class="guestName">{{guestname}}</p>
            </div>


            <div class="signUp">
                <button mat-stroked-button matTooltip="Sign Up" matTooltipPosition="below" [routerLink]="" [queryParams]="{auth: 'sign_up'}">Sign Up</button>
            </div>

            <div class="signIn">
                <button mat-stroked-button matTooltip="Sign In" matTooltipPosition="below" [routerLink]="" [queryParams]="{auth: 'sign_in'}">Sign In</button>
            </div>
        </ng-container>

        <ng-container *ngIf=false>
            <div class="avatar"><img src="assets/profile-avatar.png" alt="User Name">
                <p class="userName">{{username}}</p>
            </div>
            <div class="signOut">
                <button mat-stroked-button matTooltip="Sign Out" matTooltipPosition="below">Sign Out</button>
            </div>
        </ng-container>
    </div>
</mat-toolbar>