.gameList {
    height: 100%;
    background: black;
    color: #44cc2e;
    border: solid 2px #d12525;

}

.gameListTitle {
    text-align: center;
    padding: 10px 0px;
    color: black;
    background: #d9d9d9;
    width: 90%;
    margin: auto;
}

.titleCircle {
    display: inline-block;
    background: #FFFF00;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 1px black;
}

.titleCircle:first-of-type {
    background: #D12525;
}

.gameListContent {
    padding: 10% 10%;
    // height: 70%;
}

.leaderboardLink {
  font-size: x-large;
    display: block;
  text-align: center;
  margin: auto;
  position: absolute;
  bottom: 0;
  padding: 5px;

}

// yellow: #FFFF00
// red: #D12525
