<mat-card class="gameList">
  <mat-card-title class="gameListTitle">
    <span class="titleCircle"></span> Current Games
    <span class="titleCircle"></span>
  </mat-card-title>
  <mat-card-content class="gameListContent">
    <div class="gameListOutput">
      <div class="gameContainer">
        <div
          *ngFor="let game of availableGames"
          class="games"
          (click)="joinGame(game.id)"
        >
          Game {{ game.id }} --
          {{
            game.hosting_user_type === "User"
              ? game.hosting_user.email.split("@")[0]
              : "Guest " + game.hosting_user.id
          }}
        </div>
      </div>
    </div>
    <!-- <div class="gameListControls">
      <a [routerLink]="['/leaderboard']" class="leaderboardLink">Leaderboard</a>
    </div> -->
  </mat-card-content>
</mat-card>
