:host {
  display: flex;
}

.gameList {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  background: black;
  color: #44cc2e;
  border: solid 2px #d12525;
  overflow: hidden;
  width: 100%;
  margin: 15%;

  @media (max-width: 1000px) {
    margin: 0px;
    border: 0px;
    height: 30vh;
  }
}

.gameListTitle {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: fit-content;
  text-align: center;
  padding: 1vh;
  color: black;
  background: #d9d9d9;
  width: 100%;
  margin: 0px;
  font-size: 2vw;
  font-weight: bold;
  line-height: 1;

  @media (max-width: 1000px) {
    font-size: 5vw;
  }
}

.titleCircle {
  align-self: center;
  background: #FFFF00;
  text-align: center;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  border: solid 1px black;
  margin-left: 1vw;
  margin-right: 1vw;

  @media (max-width: 1000px) {
    width: 4vw;
    height: 4vw;
  }
}

.titleCircle:first-of-type {
  background: #D12525;
}



.gameListContent {
  box-sizing: border-box;
  // position: absolute;
  // top: 0;
  // left: 0;
  height: 80%;
  width: 100%;
  // padding: 20% 20px 20px 20px;
}

.gameListOutput {
  display: flex;
  width: 100%;
  margin: 0px;
  margin-top: 16px !important;
  margin-bottom: 16px;
  // margin-bottom:auto;
  box-sizing: border-box;
  background: black;
  height: 90%;
  max-height: 90%;
  border-style: double;
  border-color: rgba(128, 128, 128, 0.25);
  overflow-y: auto;

  @media (max-width: 1000px) {
    margin: 0px !important;
    border: 0px;
  }

  .gameContainer {
    height: fit-content;
    display: flex;
    flex-direction: column-reverse;
  }

  div {
    width: 100%;
  }
}

.gameListControls {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-basis: 1;
  justify-content: center;
  // position: absolute;
  // bottom: 20px;
  // width: 90%;
  // margin: auto;
  // padding-bottom: 10px;
  // display: flex;
  // justify-content: space-around;
  // align-items: center;
}

.leaderboardLink,
.leaderboardLink:visited {
  font-size: 1.5vw;
  text-decoration: none;
  color: #d9d9d9;
}

.games {
  display: flex;
  box-sizing: border-box;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding-top: .5vw;
  padding-bottom: .5vw;
  font-size: 2vw;
  height: 4vw;
  flex-basis: 4;
  cursor: pointer;
  border-style: double;
  border-color: rgba(128, 128, 128, 0.25);
  align-items: center;

  @media (max-width: 1000px) {
    font-size: 3vw;
  }


}

// yellow: #FFFF00
// red: #D12525
