<mat-card class="gameList">
    <mat-card-title class="gameListTitle">
        <span class="titleCircle"></span> Current Games
        <span class="titleCircle"></span>
    </mat-card-title>
    <mat-card-content class="gameListContent">
        <!-- insert game list here -->
        <div *ngFor="let game of availableGames" class="games" (click)="joinGame(game.id)">
            Game_{{ game.id }} | Guest_{{ game.hosting_user_id }} | {{ game.status }}
        </div>
    </mat-card-content>
    <a [routerLink]="['/leaderboard']" class="leaderboardLink">Leaderboard</a>
</mat-card>