.lobby {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
}

P {
  color: white;
}

.gameList {
  order: 1;
  height: 750px;
  width: 350px;
  display: inline-block;
}

.newGameButton {
  order: 2;
}

.lobbyChat {
  order: 3;
  height: 750px;
  width: 350px;
  display: inline-block;
}

.lobbyChatTitle{
  font-size: x-large;
  text-align: center;
}

.gameListTitle{
  font-size: x-large;
  text-align: center;
}

.gameListText{
  font-size: small;
  color: #44cc2e;
  background-color: black;

}

.chatText{
  font-size: small;
  color: #44cc2e;
  background-color: black;

}

