<app-header></app-header>

<main>
    <!-- Not in game -->
    <!-- <ng-container *ngif="true"> -->
        <div class="lobby">
            <div class="game-list">
                <!-- Game List -->
                <p>Game List Here</p>
            </div>

            <div class="new-game-button">
                <!-- New Game Button -->
                <img src="assets/guest-avatar.png" alt="New Game Button">
                <p>New Game</p>
            </div>

            <div class="lobby-chat">
                <!-- Lobby Chat -->
                <p>Lobby Chat Here</p>
            </div>
        </div>
    <!-- </ng-container> -->

    <!-- In Game -->
    <ng-container *ngif=false>
        <!-- To Do -->
    </ng-container>
</main>
