<button class="close-button" mat-icon-button (click)="closeDialog()">
  <mat-icon>close</mat-icon>
</button>
<!-- SIGN UP FORM -->
<div *ngIf="signUp">
    <h2 mat-dialog-title>Create An Account</h2>

    <mat-dialog-content [formGroup]="authForm">
        <mat-form-field>
            <input type="email" matInput placeholder="email" email formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="password" password formControlName="password">
        </mat-form-field>
        <!-- <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="repeat password"
        formControlName="passwordConfirm">
    </mat-form-field> -->
    </mat-dialog-content>

    <mat-dialog-actions>
        <button type="button" (click)="onSignUp(authForm)">Sign Up</button>
    </mat-dialog-actions>
</div>
<!-- SIGN IN FORM -->
<div *ngIf="signIn">
    <h2 mat-dialog-title>Sign In</h2>

    <mat-dialog-content [formGroup]="authForm">
        <mat-form-field>
            <input type="email" matInput placeholder="email" email formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="password" password formControlName="password">
        </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button type="submit" (click)="onSignIn(authForm)">Sign In</button>
    </mat-dialog-actions>
</div>