<div class="container">
    <mat-card class="game">
        <app-game-board [moves]="gameData.moves!" (movePlayed)="playMove($event)"></app-game-board>
    </mat-card>

    <div *ngIf="winner" class="winnerBanner">
        <mat-card>
            <h1>{{winner}}</h1>
        </mat-card>
    </div>

    <mat-card class="gameChat">
        <mat-card-title class="gameChatTitle">
            <span class="titleCircle"></span> Game Chat
            <span class="titleCircle"></span>
        </mat-card-title>
        <mat-card-content class="gameChatContent">
            Some chat here
        </mat-card-content>
    </mat-card>
</div>