

@media (max-width: 480px) {
  .gameChat {
    position: static;
  }
  .container {
    flex-direction: column;
  }
  .game {
    min-width: calc(100vw - 32px);
  }
}

.container {
  display: flex;
  justify-content: center;
}

.game {
  max-height: calc(100vh - 96px);
  flex: 3;
  * {
    display: flex;
    justify-content: center;

  }
}

// --------------- chat box ----------------------
.gameChat {
  height: calc(100vh - 100px);
  background: black;
  color: #44cc2e;
  border: solid 2px #d12525;
  flex: 1;

}

.gameChatTitle {
  text-align: center;
  padding: 10px 0px;
  color: black;
  background-color: #d9d9d9;
  width: 80%;
  margin: auto;
}

.gameChatContent {
padding: 10% 10%;
}

.titleCircle {
display: inline-block;
background: #FFFF00;
text-align: center;
width: 20px;
height: 20px;
border-radius: 50%;
border: solid 1px black;
}

.titleCircle:first-of-type {
background: #D12525;
}
// --------------- chat box ----------------------
