<div class="cardContainer">
    <mat-card>
        <mat-card-title>SIGN UP</mat-card-title>
        <mat-card-content>
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput #email="ngModel" ngModel email name="email" required placeholder="Ex. pat@example.com">
                    <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="email.errors?.['required']">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" #password="ngModel" name="password" ngModel password required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Confirm your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" #passwordConf="ngModel" name="passwordConf" ngModel required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <button mat-raised-button color="accent" [disabled]="password.value != passwordConf.value">Submit</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>