table {
  display: flex;
  flex-direction: column;
  aspect-ratio: 7/6;
  border: 0.2rem solid black;
  border-collapse: collapse;
}

tr {
  display: flex;
}

td {
  // padding: 5px;
  background-color: yellow;
  width: 100%;
  height: 100%;
  padding: 0.5%;
  box-sizing: border-box;

  div {
    border: 0.2rem solid black;
    border-radius: 50%;
    aspect-ratio: 1;
    box-sizing: border-box;
  }
}
