<mat-card class="lobbyChat">
  <mat-card-title class="lobbyChatTitle">
    <span class="titleCircle"></span>
    Lobby Chat
    <span class="titleCircle"></span>
  </mat-card-title>
  <mat-card-content class="lobbyChatContent">
    <div class="chatOutput" #chatOutput>
      <!-- loop through messages here -->
        <p *ngFor="let message of messageList">
          <span> {{ message.user }}:</span> {{ message.body }}
        </p>
    </div>
    <div class="chatInputControls">
      <form [formGroup]="messageForm" class="chatInputForm">
        <mat-form-field class="inputField">
          <mat-label>Say:</mat-label>
          <input matInput formControlName="message"  (keydown.enter)="onSendMessage(messageForm)" #input/>
        </mat-form-field>
      </form>
      <button
        type="button"
        (click)="onSendMessage(messageForm)"
        class="chatButton"
      >
        Send
      </button>
    </div>
  </mat-card-content>
</mat-card>
